# ===================================
# BACKEND API
# ===================================
NEXT_PUBLIC_API_URL=https://your-backend.koyeb.app

# ===================================
# SOCKET.IO
# ===================================
NEXT_PUBLIC_SOCKET_URL=https://your-backend.koyeb.app

# ===================================
# STORAGE
# ===================================
# Dùng khi có MinIO/Supabase Storage riêng
# NexJ_PUBLIC_STORAGE_PUBLIC_URL=https://<project-ref>.supabase.co/storage/v1/object/public/social
